# Groq API Key (Required)
GROQ_API_KEY=your_groq_api_key_here
# Groq Model (Optional, default is llama-3.1-8b-instant)
GROQ_MODEL=llama-3.1-8b-instant

# LangSmith Tracing (Optional, default is false)
# Set to true to enable LangSmith tracing for monitoring and debugging
# Make sure to set your LangSmith API key in the environment variable LANGSMITH_API_KEY
LANGSMITH_TRACING="true"
LANGSMITH_API_KEY="your_langsmith_api_key_here"

# Embeddings 
MISTRALAI_API_KEY=your_mistralai_api_key_here

# Hugging Face Token
HF_TOKEN=your_hugging_face_token_here